<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <p class="app-tagline">
           Log in simply with your Facebook account.
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
